@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
@import url(normalize.css);

html,
body {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  h1 {
    padding: 1rem;
    font-size: 10rem;
    text-align: center;
  }
  
  background-image: url("header-logo.png");
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 1rem;
  //background: white;
}

.main--section {
  border-radius: 5px;
  
  .content {
    display: inline-block;
    width: 85%;
    height: 100%;
    padding: 0 10px 10px;
    
    @media(max-width: 1100px) {
      display: block;
      width: 100%;
    }
    
    section {
      margin: 0 auto 20px;
      background: #F4ECF9;
      
      img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
      }
      
      h1,
      h2,
      h3,
      h4,
      h5 {
        padding: 5px;
        margin: 0;
      }
      
      h1 {
        margin: 10px auto;
        display: block;
        width: 100%;
        background: #A728FF;
        padding: 10px;
        color: white;
        font-size: 2em;
        font-weight: 100;
        text-transform: capitalize;
      }
      
      h2 {
        font-size: 1.9em;
      }
      
      h3 {
        font-size: 1.8em;
      }
      
      h4 {
        font-size: 1.7em;
      }
      
      h5 {
        font-size: 1.6em;
      }
      
      p {
        font-size: 1.5rem;
        padding: 5px 10px;
      
        &:last-child {
          padding-bottom: 10px;
        }
      }
    }
  }
  
  nav {
    width: 15%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    
    @media(max-width: 1100px) {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
    
    ul {
      background: #A728FF;
      margin: 0 auto;
      padding: 0;
      bullet-style: none;
      display: block;
      text-align: center;
    }
    
    li {
      display: block;
      width: 100%;
      margin: 0;
      padding: 10px 0;
      
      @media(max-width: 1100px) {
        display: inline-block;
        width: 20%;
      }
      
      @media(max-width: 600px) {
        display: inline-block;
        width: 33.3333%;
        background: #9341CC;
      }
    }
    
    a {
      font-size: 1.1em;
      letter-spacing: 0.1em;
      color: white;
      width: 100%;
      display: block;
      padding: 5px;
      font-weight: 200;
      
      &:hover {
        text-decoration: none;
      }
    }
    
    .navigation {
      li {
        &:nth-child(even) {
          background-color: #9341CC;
        }
        
        &:hover {
          background: #B852FF !important;
        }
        
        @media (max-width: 600px) {
          &:first-child,
          &:nth-child(2) {
            width: 50%;
            background: #A728FF;
          }
        }
      }
    }
    
    .social {
      margin-top: 20px;
      background: #F4ECF9;
      border: 2px solid #A90AFF;
      color: #54057F;
      font-weight: 400;
      border-radius: 5px 5px 0 0;
      
      @media(max-width: 1100px) {
        display: none;
      }
      
      li {
        transition: .2s background ease-in-out;
        
        &:first-child {
          border-top: 1px solid #A90AFF;
        }
      }
      
      .--fb {
        &:hover {
          background: #38539E;
        }
      }

      .--tw {
        &:hover {
          background: #59A7DF;
        }
      }

      .--ig {
        &:hover {
          background: #A16E61;
        }
      }
      
      .social_tagline {
        padding: 5px;
        text-align: center;
        text-transform: capitalize;
        margin: 0;      
      }
    }
  }
}

.animated {
  opacity: 0;
}